/* Carousel*/
.carousel {
    margin-bottom: 4rem;
    width: 100% !important;
.carousel-item {
    height: 40rem;

    .carousel-caption {
        bottom: 3rem;
        z-index: 10;

            /*Botones*/
            }
        }
        .bgBoton{
            background-color: #5d5b5b !important;
            }
    }
    .carousel-item > img {
        position: absolute;
        object-fit: cover;
        background-color: black;
        top: 0;
        left: 0;
        filter: contrast(150%),brightness(120%);
        min-width: 100%;
        height: 40rem;
}




