.FormBoton{
    background-color: #2d2d2da5 !important;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 120%;
    color: #c4c3c3;
}

/*Contacto*/
.mapa{
    object-fit: cover; 
    height: 50vh;
    width: 100%;
    
.map{
    color: white;
}
}

