.FormBoton{
    background-color: map-get($map-color , boton) !important;
    text-decoration: none;
    font-weight: 120%;

        @include formato-textos(map-get($map-parrafos,font_hf),map-get($map-parrafos,size),map-get($map-parrafos,align),map-get($map-parrafos,color));
}

/*Contacto*/
.mapa{
    object-fit: cover; 
    height: 50vh;
    width: 100%;
    
.map{
    color: white;
}
}

