/*Footer*/
.piePag{
    text-decoration: none;
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #1b1b1a 40%, #151615 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #111110 40%, #101110 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #191b19 80%);
    color: rgb(255, 255, 255);
    text-align: center;
    border-top: 1mm solid;
    border-bottom: 1mm solid;
    border-color: black;

}
.btnup{
    @include redes(up);
}
.btnup:hover{
    color: map-get($map-redes, colorup );
}
.instagram{
    @include redes(instagram);
    }

    .instagram:hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
        -webkit-background-clip: text;   
                background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
.linkedin{
    @include redes(linkedin);
    }

    .linkedin:hover{
        color: map-get($map-redes, colorlkdin );
    }
.mapicon{
    @include redes(map);
    }

    .mapicon:hover{
        color: map-get($map-redes, colormap );
    }


/*Footer*/