/*Footer*/
.piePag{
    text-decoration: none;
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    color: rgb(255, 255, 255);
    text-align: center;
    border-top: 1mm solid;
    border-bottom: 1mm solid;
    border-color: black;

}

.instagram{
    @include redes(instagram);
    }

.linkedin{
    @include redes(linkedin);
    }

.mapicon{
    @include redes(map);
    }

/*Footer*/