/*Galeria*/
.GalTitulo{
    height: 85vh; 
    margin: 0 auto; 
    border-radius: 18px 18px 18px 18px; 
    border-radius: 10px 10px 10px 10px; 
    -webkit-border-radius: 10px 10px 10px 10px; 
    -moz-border-radius: 10px 10px 10px 10px; 
    border: 5px outset rgba(24, 24, 24, 0.695); 

        .imgtittle{
            width: 0px;/*unidad de media relativa*/
            height: 100%;
            filter: brightness(80%) contrast(120%);
            flex-grow: 1;
            border:2px outset rgba(24, 24, 24, 0.386); 
            object-fit: cover;
            opacity: 1;
            transition: 0.5s ease-in-out;
    }
        .imgtittle:hover{
        width: 10%;
        opacity: 1.2;
        filter:contrast(1.2) brightness(120%) drop-shadow(0 0 10px rgb(129, 129, 129)); ;
    }  
}

.galeria_imagenes{
    position:relative;
    cursor:zoom-in;
    /*que se esnconda todo lo que salga de ese elemento
    ya que este elemento va a referenciar a un texto */
    overflow: hidden;

}


.galeria_imagenes::before{
    content:"Ver";
    height: 50px;
    width: 50px;
    margin: auto;
    position:absolute;
    /*background-color: red;*/
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform: scaleY(0);
    transition: transform .4s;
    color:white;
    filter: brightness(130%);
    text-shadow: $font-shadow;
    display:flex;
    justify-content: center;
    align-items:center ;
    font-size:1.5rem ;
    text-align: center;
    
}
.galeria_imagenes:hover::before{
  /*  transform: scale(1) rotate(360deg)  ;*/
    transform: scaleY(1);
   /* transform: translate(0)  ;*/
}

.galeria{
    padding-bottom : 1em;
    padding-top: 1em;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    /*las filas automaticas van a ser de 160 pixeles*/
    grid-auto-rows: 260px;
    grid-auto-columns: 20%;
    grid-template-areas: 
    'img1 img1 img2 img2 img3 img3 img4 img4'
    'img1 img1 img2 img2 img3 img3 img4 img4'
    'img5 img5 img6 img6 img7 img7 img8 img8'
    'img5 img5 img6 img6 img7 img7 img8 img8';
    gap : 0.1em;
}

.galeria_imagenes--g1{
    grid-area: img1;
}
.galeria_imagenes--g2{
    grid-area: img2;
}
.galeria_imagenes--g3{
    grid-area: img3;
}
.galeria_imagenes--g4{
    grid-area: img4;
}
.galeria_imagenes--g5{
    grid-area: img5;
}
.galeria_imagenes--g6{
    grid-area: img6;
}
.galeria_imagenes--g7{
    grid-area: img7;
}
.galeria_imagenes--g8{
    grid-area: img8;
}
.galeria_imagenes--g9{
    grid-area: img9;
}
.galeria_imagenes--g10{
    grid-area: img10;
}
/*.galeria_imagenes--g11{
    grid-area: img11;
}*/
.imggaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.videogaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

