/*El header es desplazable*/
.header{
    background: #1c1a1a;
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #1b1b1a 40%, #151615 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #111110 40%, #101110 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #191b19 80%);
    color: rgb(255, 255, 255);
    z-index: 100;
    opacity: 100%;
    height: 12vh;

    .headercolor{
        background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #1b1b1a 40%, #151615 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #111110 40%, #101110 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #191b19 80%);
    color: rgb(255, 255, 255);
        height: 12vh;
        .logopos{
            padding-left: 15%;

        .logo{
            border-radius: 148px 148px 148px 148px;
            -webkit-border-radius: 148px 148px 148px 148px;
            -moz-border-radius: 148px 148px 148px 148px;
            height: 10vh;
        }
    }
    }
}

.spanColor{
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #1b1b1a 40%, #151615 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #111110 40%, #101110 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #191b19 80%);
    color: rgb(255, 255, 255);
    padding: 0 5%;
}

.buttonhamb{
    height: 15px;
}







