/*El header es desplazable*/
.header{
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    z-index: 100;
    opacity: 90%;
    height: 12vh;

    .headercolor{
        background: #1c1a1a;
        background: linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
        background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
        background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
        height: 12vh;
        .logopos{
            padding-left: 15%;

        .logo{
            border-radius: 148px 148px 148px 148px;
            -webkit-border-radius: 148px 148px 148px 148px;
            -moz-border-radius: 148px 148px 148px 148px;
            height: 10vh;
        }
    }
    }
}

.spanColor{
    background: #1c1a1a;
    background: linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -webkit-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    background: -moz-linear-gradient(90deg,#1c1a1a 0%, #383832 40%, #656965 80%);
    padding: 0 5%;
}







